.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 350px;
    margin: auto;
}

.turn {
    display: flex;
    color: #264653;
    font-weight: bold;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 25px;
    background-color: #e76f51;
    padding: 20px 0px;
    letter-spacing: 4px;
    border-radius: 40px;
    font-family: cursive;
    box-shadow: 0 4px #ffffff;
    animation: bounce 0.5s infinite alternate;
}

.turn-Winner {
    display: flex;
    color: #264653;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    background-color: #e76f51;
    padding: 20px 0px;
    font-family: cursive;
    letter-spacing: 4px;
    border-radius: 40px;
    box-shadow: 0 4px #ffffff;
    animation: fade 1s ease-in-out infinite alternate;
}

.reset {
    background-color: #f4a261;
    border: 5px solid #264653;
    font-weight: bold;
    display: flex;
    margin: auto;
    padding: 15px 40px;
    margin-bottom: 20px;
    color: #264653;
    border-radius: 15px;
    outline: none;
    font-family: cursive;
    font-size: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.player-O {
    color: #ffffff;
    margin-left: 10px;
}

.player-X {
    color: #ffffff;
    margin-left: 10px;
}

.reset:hover {
    scale: 1.1;
    background-color: #264653;
    border: 5px solid #f4a261;
    color: #f4a261;
    border-radius: 5px;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tryAgain {
    color: white;
    letter-spacing: 0;
    margin-left: 4px;
}

.Draw {
    font-size: 15px;
}

.winnerVal {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 4px;
    font-size: 30px;
}

@media (max-width:477px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 250px;
        margin-left: -0px;
    }
}