.grid{
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;   
}

.turn{
    color: #000000;
    font-weight: bold;
    display: flex;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    animation: bounce 0.5s infinite alternate;
    background-color: #777777;
    padding: 20px 0px ;
    margin: 40px 400px 80px 400px;
    border-radius: 40px;
    box-shadow: 0 4px #ffffff;
}

.turn-Winner{
    color: #000000;
    font-weight: bold;
    display: flex;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    background-color: #6a6a6a;
    padding: 20px 0px ;
    margin: 40px 400px 80px 400px;
    border-radius: 40px;
    box-shadow: 0 4px #ffffff;
    animation: fade 1s ease-in-out infinite alternate;
}

.reset{
    background-color: #6dffe7;
    font-weight: bold;
    display: flex;
    margin: auto;
    padding: 10px 20px ;
    margin-top: -50px;
    margin-bottom: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-family: 'Lucida Sans';
    font-size: 15px;
    cursor: pointer;
}

.reset:hover{
    scale: 1.1;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
